altair==5.5.0
annotated-types==0.7.0
appnope==0.1.4
asttokens==2.4.1
attrs==25.3.0
beautifulsoup4==4.9.3
blinker==1.8.2
blis==1.2.0
Bootstrap-Flask==2.2.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.7
cloudpathlib==0.20.0
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.2
decorator==5.1.1
dotenv==0.9.9
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.0.1
Faker==37.1.0
favicon==0.7.0
filelock==3.17.0
Flask==2.3.2
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.1
fsspec==2025.2.0
generativeai==0.0.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
greenlet==3.0.3
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
htbuilder==0.9.0
httplib2==0.22.0
huggingface-hub==0.28.1
idna==2.10
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
llvmlite==0.44.0
lxml==5.3.2
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multipledispatch==1.0.0
murmurhash==1.0.12
narwhals==1.33.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.0
numpy==2.0.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
pandas-flavor==0.6.0
parso==0.8.4
pexpect==4.9.0
pg==0.1
pillow==10.4.0
pipdeptree==2.26.1
platformdirs==4.2.2
plotly==6.0.1
preshed==3.0.9
prometheus_client==0.21.1
prompt_toolkit==3.0.47
proto-plus==1.26.1
protobuf==5.29.4
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
pyjanitor==0.27.0
pymdown-extensions==10.14.3
PyOpenGL==3.1.9
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.0.3
referencing==0.36.2
regex==2024.11.6
requests==2.25.1
rich==13.9.4
rpds-py==0.24.0
rsa==4.9
safetensors==0.5.2
scipy==1.14.0
selenium==4.30.0
setuptools==75.8.0
shellingham==1.5.4
six==1.16.0
sklearn-preprocessing==0.1.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.25
srsly==2.5.1
st-annotated-text==4.0.2
st-theme==1.2.3
stack-data==0.6.3
streamlit==1.44.1
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.13.3
tenacity==9.1.2
thinc==8.3.4
tokenizers==0.21.0
toml==0.10.2
torch==2.2.2
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.3
trio==0.29.0
trio-websocket==0.12.2
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.20
validators==0.34.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
Werkzeug==3.0.0
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.0.1
xarray==2024.6.0
gunicorn
